/* menu */
.menu {
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.menu li {
  display: inline-flex;
}

.menu li a {
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: white;
  padding: 5px 50px;
  font-variant: normal;
  font-family: monospace;
  transition: 0.7s ease;
}

.menu li a:hover {
  background-color: purple;
  color: #F2EDD5;
  transition: 0.6s ease;
  text-decoration: underline;
  text-decoration-color: #F2EDD5;

}

/* body stays in the middle*/
div.outerpagewrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #444444;
  padding: 20px;

}